
@model List<Shoping_Site.Models.Secundarias.Articulo>


<div class="contenedorPrimario" id="pagInicio">
    <section class="navBar" id="navBar">
        <ul>
            <li id="etiquetasMenu">
                <a>@Html.ActionLink("Tienda", "Index", "Tienda", new { area = "" }, new { @class = "navbar-brand" })</a>
            </li>
            <li id="etiquetasMenu">
                <a> @Html.ActionLink("Carrito", "Carrito", "Tienda", new { area = "" }, new { @class = "navbar-brand" })</a>
            </li>
            <li id="etiquetasMenu">
                <a>@Html.ActionLink("Ingresar", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })</a>
            </li>
        </ul>
    </section>
</div>


<div class="contenedorPrimario" id="pagInicio">
    <section class="articulos" id="comun">
        <br><h3>Inventario</h3><br>
        <br><h4>Se eliminó el articulo del inventario</h4><br>
        <ul>
            @foreach (var item in Model)
            {
                <li id=@item.ID>
                    <form action="../Tienda/eliminarDeInventario" method="POST">
                        <p>Nombre: @item.Nombre</p>
                        <p>Precio: @item.Precio</p>
                        <img src=@item.Ima id="imagenVenta">
                        <!-- elemento oculto para el paso de datos -->
                        <input id="oculto" name="articulo" type="text" value=@item.ID />
                        <p><input id="botonCentrado" type="submit" value="Eliminar" /></p>
                    </form>
                </li>
            }
        </ul>
    </section>
</div>