<div class="contenedorPrimario" id="pagInicio">
    <section class="navBar" id="navBar">
        <ul>
            <li id="etiquetasMenu">
                <a>@Html.ActionLink("Tienda", "Index", "Tienda", new { area = "" }, new { @class = "navbar-brand" })</a>
            </li>
            <li id="etiquetasMenu">
                <a> @Html.ActionLink("Carrito", "Carrito", "Tienda", new { area = "" }, new { @class = "navbar-brand" })</a>
            </li>
            <li id="etiquetasMenu">
                <a>@Html.ActionLink("Ingresar", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })</a>
            </li>
        </ul>
    </section>
</div>

<section class="carrito" id="seccionMsj">
    <section class="comunEspecifico" id="part1">
        <form id="imgArticulo">
            <h2 style="text-align:center;">@ViewBag.nombre</h2><br>
            <h4 style="text-align:center;">Precio: @ViewBag.precio</h4>
            <h4 style="text-align:center;">En el almacen: @ViewBag.cant</h4><br>
            <img src=@ViewBag.ima id="imagenVenta" />
        </form>
        <form style="text-align:center">
            <h4 style="margin-top: 130px;">Calificacion</h4>
            <input type="number" min="0" max="5" />
        </form>
     </section>
   

    <section class="comunEspecifico" id="part2">
        <h3 style="text-align:center;">Coloca tú comentario</h3>
        <form id="comentario"  action="../Tienda/atraparComentario" method="POST" >
            <textarea id="boton" style="margin-right:5%; " name="comentario" rows="10" cols="50" wrap="soft" placeholder="" maxlength="310" required></textarea>
            <br><br><br>
            <p><input id="botonespecial" type="submit" value="Enviar " /></p>
         </form>

        <br><br>
        <h2 style="text-align:center; border-radius:15px">Comentarios</h2>
        <!-- por cada comentario se va a crear una caja -->
        @foreach (var item in ViewBag.comentarios)
        {
            <Div id="comentario">
                @item.coment<br><br>
                <h5 style="text-align:right;">Autor: @item.user</h5>
            </Div> 
         }
    </section>


    <section class="comunEspecifico" id="part3">
        <h3 style="text-align:center">Recomendaciones</h3><br>

        <form action="" method="POST" id="articuloRec">
            <p>Nombre: </p>
            <p>Precio: </p>
            <img src="http://www.humordeanimales.com/wp-content/uploads/2015/07/perro-esponjoso.jpg" id="imagenVenta">
            <!-- elemento oculto para el paso de datos -->
            <input id="oculto" name="idArticulo" type="text" value="" />
            <p><input id="botonCentrado" type="submit" value="Ver" /></p>
        </form>
        <form action="" method="POST" id="articuloRec">
            <p>Nombre: </p>
            <p>Precio: </p>
            <img src="http://www.humordeanimales.com/wp-content/uploads/2015/07/perro-esponjoso.jpg" id="imagenVenta">
            <!-- elemento oculto para el paso de datos -->
            <input id="oculto" name="idArticulo" type="text" value="" />
            <p><input id="botonCentrado" type="submit" value="Ver" /></p>
        </form>
    </section>
</section>