<div class="contenedorPrimario" id="pagInicio">
    <section class="navBar" id="navBar">
        <ul>
            <li id="etiquetasMenu">
                <a>@Html.ActionLink("Tienda", "Index", "Tienda", new { area = "" }, new { @class = "navbar-brand" })</a>
            </li>
            <li id="etiquetasMenu">
                <a> @Html.ActionLink("Carrito", "Carrito", "Tienda", new { area = "" }, new { @class = "navbar-brand" })</a>
            </li>
            <li id="etiquetasMenu">
                <a>@Html.ActionLink("Ingresar", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })</a>
            </li>
        </ul>
    </section>
</div>



<section class="contenedorPerfil">
    <h1 style="text-align:center">@ViewBag.user</h1>
    <section id="div1">
        <h2>Buscador Usuarios</h2><br>
        <form action="../Login/buscarUsuario" method="post" class="div11">
            <input type="text" name="cajaTexto" value="" id="cajaTexto">
            <input type="submit" value="Buscar" id="botonPerfil">
            <br><br>
        </form>

        <form action="../Login/seguirUsuario" method="post"  style="margin-top: 5%">
            <div  id="div1_1">
                <h3>Nombre: @ViewBag.nombre</h3>
                <h3>Username: @ViewBag.username</h3>
                <input id="oculto" name="oculto" type="text" value=@ViewBag.username />
                <input style="margin-left: 73%;" type="submit" value="Seguir" id="botonPerfil" />
            </div>
        </form>
    </section>


    <section>
        <div id="div1">
            <h2>Mis Amigos</h2>
            <br><br><br><br>
            @foreach (var item in @ViewBag.amigos){
                <form action="../Login/buscarUsuario" method="post" style="margin-top: 5%">
                    <div id="div1_1">
                        <h3>Nombre: @item.Name</h3>
                        <h3>Username: @item.Username</h3>
                        <input id="oculto" name="articulosAmigo" type="text" value=@item.Username />
                        <input style="margin-left: 73%;" type="submit" value="Consultar" id="botonPerfil" />
                    </div>
                </form>
            }  
        </div>
    </section>
    <section class="" id="div1">
        <h2>¿Qué compró mi amigo?</h2><br><br><br>
        @foreach (var item in @ViewBag.articulosAmigo)
        {
            <form  action="../Tienda/VerArticuloEspecifico" method="POST" id="articuloRec">
                <p id="textPequeño">@item.Nombre </p>
                <p id="textPequeño">@item.Precio</p>
                <img src=@item.Ima id="imagenVenta" style="height:100px;"/>
                <!-- elemento oculto para el paso de datos -->
                <input id="oculto" name="articulo" type="text" value=@item.ID />
                <p><input id="botonCentrado" type="submit" value="Ver" /></p>
            </form>
        }
    </section>

</section>

